html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  background: #205081;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0 0 5px #000; }
  @media screen and (min-width: 1200px) {
    header h1 {
      width: 1200px;
      margin: 0 auto; } }
  header img {
    width: 200px; }
  @media screen and (min-width: 1200px) {
    header {
      text-align: left; } }

.container {
  width: 100%; }
  @media screen and (min-width: 1200px) {
    .container {
      width: 1200px;
      margin: 0 auto; } }

.page-sub-title {
  width: 100%;
  padding: 20px 20px 0 20px;
  text-align: center; }
  .page-sub-title h5 {
    font-size: 26px;
    line-height: 1; }
    @media screen and (min-width: 1200px) {
      .page-sub-title h5 {
        font-size: 32px; } }
  .page-sub-title img {
    width: 100%;
    margin-bottom: 15px; }
    @media screen and (min-width: 450px) {
      .page-sub-title img {
        width: 450px; } }
  @media screen and (min-width: 1200px) {
    .page-sub-title {
      padding-top: 60px; } }

nav {
  -webkit-transition: margin .5s linear;
          transition: margin .5s linear;
  margin: 40px 0;
  text-align: center; }
  nav a {
    display: block;
    color: inherit;
    text-decoration: none;
    background: #f5f5f5;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 14px; }
    nav a:hover {
      background-color: #fff; }
  nav ul li {
    display: inline-block;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6; }
    nav ul li:first-child {
      border-top-left-radius: 5px; }
    nav ul li:last-child {
      border-top-right-radius: 5px; }
    nav ul li.selected a {
      background: #fff; }
  @media screen and (min-width: 960px) {
    nav ul {
      border-bottom: 1px solid #e6e6e6; } }
  @media screen and (min-width: 960px) {
    nav {
      text-align: left;
      margin: 60px 0; } }

.main-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .main-content .speaker-list {
    vertical-align: top;
    border-top: 2px solid #e9e9e9;
    padding-top: 30px;
    margin-top: 30px;
    line-height: 1;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
    .main-content .speaker-list .session-list {
      padding-top: 20px; }
      .main-content .speaker-list .session-list li {
        border-top: 1px solid #e9e9e9;
        border-bottom: 1px solid #e9e9e9;
        padding: 10px; }
        .main-content .speaker-list .session-list li.selected {
          background: #f5f5f5; }
        .main-content .speaker-list .session-list li:hover {
          background: #f5f5f5;
          cursor: pointer; }
      .main-content .speaker-list .session-list .session-title {
        color: #205081;
        font-weight: 600;
        padding: 5px 0;
        line-height: 1.4; }
      .main-content .speaker-list .session-list .session-speaker {
        font-size: 14px;
        color: default;
        display: block;
        padding-bottom: 5px; }
    @media screen and (min-width: 960px) {
      .main-content .speaker-list {
        width: 30%;
        margin-right: 5%;
        border: 0;
        padding-top: 0;
        margin-top: 0;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1; } }
  .main-content .session-description {
    vertical-align: top;
    line-height: 1.5;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
    .main-content .session-description .speakers {
      color: #205081;
      font-size: 14px;
      margin-top: 20px; }
      .main-content .session-description .speakers span {
        display: block;
        padding: 5px 0; }
    .main-content .session-description .description-content {
      padding: 20px 0; }
    .main-content .session-description .speaker-bio {
      margin-top: 15px; }
      .main-content .session-description .speaker-bio span {
        font-size: 14px;
        margin-bottom: 20px;
        display: block; }
    @media screen and (min-width: 960px) {
      .main-content .session-description {
        width: 60%;
        line-height: 1.3;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2; } }
  @media screen and (min-width: 960px) {
    .main-content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; } }

body {
  color: #707070;
  font-family: "Helvetica Neue",Helvetica,arial,sans-serif;
  line-height: 16px; }

h2 {
  font-size: 32px;
  color: #205081;
  line-height: 1.2;
  font-weight: bold; }

h3 {
  font-size: 24px;
  color: #205081;
  font-weight: bold; }

.wrapper {
  padding: 0 20px; }
  @media screen and (min-width: 1200px) {
    .wrapper {
      padding: 0; } }
