header{
	background:#205081;
	padding:10px 0;
	text-align: center;
	box-shadow: 0 0 5px #000;
	h1{
		@media screen and (min-width: 1200px) {
			width:1200px;
			margin:0 auto;
		}
	}
	img{
		width: 200px;
	}

	@media screen and (min-width: 1200px) {
		text-align: left;
	}
}