.container{
	width:100%;

	@media screen and (min-width: 1200px) {
		width:1200px;
		margin: 0 auto;
	}
}

.page-sub-title{
	width:100%;
	padding:20px 20px 0 20px;
	text-align:center;

	h5{
		font-size:26px;
		line-height: 1;
		@media screen and (min-width: 1200px) {
			font-size:32px;
		}
	}

	img{
		width: 100%;
		margin-bottom:15px;

		@media screen and (min-width: 450px) {
			width:450px;
		}
	}

	@media screen and (min-width: 1200px) {
		padding-top:60px;
	}
}

nav{
	transition: margin .5s linear;
	margin:40px 0;
	text-align:center;

	a{
		display: block;
		color:inherit;
		text-decoration: none;
		background:#f5f5f5;
		padding:10px 20px;
		font-weight: bold;
		font-size: 14px;
		&:hover{
			background-color:#fff;
		}
	}

	ul{
		li{
			display: inline-block;
			border-top:1px solid #e6e6e6;
			border-left:1px solid #e6e6e6;
			border-right:1px solid #e6e6e6;

			&:first-child{
				border-top-left-radius:5px;
			}

			&:last-child{
				border-top-right-radius:5px;
			}

			&.selected{
				a{
					background:#fff;
				}
			}
		}

		@media screen and (min-width: 960px) {
			border-bottom:1px solid #e6e6e6;
		}
	}

	@media screen and (min-width: 960px) {
		text-align: left;
		margin:60px 0;
	}
}

.main-content{
	display:flex;
	justify-content: space-between;
	flex-direction: column;
	
	.speaker-list{
		vertical-align: top;
		border-top:2px solid #e9e9e9;
		padding-top:30px;
		margin-top:30px;
		line-height: 1;
		order:2;

		.session-list{
			padding-top:20px;
			li{
				border-top:1px solid #e9e9e9;
				border-bottom:1px solid #e9e9e9;
				padding:10px;

				&.selected{
					background:#f5f5f5;
				}

				&:hover{
					background:#f5f5f5;
					cursor:pointer;
				}
			}

			.session-title{
				color:#205081;
				font-weight: 600;
				padding:5px 0;
				line-height: 1.4;
			}

			.session-speaker{
				font-size:14px; 
				color: default;
				display:block;
				padding-bottom:5px;
			}
		}

		@media screen and (min-width: 960px) {
			width:30%;
			margin-right:5%;
			border:0;
			padding-top:0;
			margin-top:0;
			order:1;
		}
	}

	.session-description{
		vertical-align: top;		
		line-height: 1.5;
		order:1;

		.speakers{
			color: #205081;
			font-size: 14px;
			margin-top: 20px;
			span{
				display: block;
				padding:5px 0;
			}
		}

		.description-content{
			padding:20px 0;
		}

		.speaker-bio{
			margin-top:15px;
			span{
				font-size:14px;
				margin-bottom: 20px;
				display: block;
			}
		}

		@media screen and (min-width: 960px) {
			width:60%;
			line-height: 1.3;
			order:2;
		}
	}

	@media screen and (min-width: 960px) {
		flex-direction: row;
	}
}