@import 'meyer-reset';
@import 'nav';
@import 'page';

body{
	color:#707070;
	font-family:"Helvetica Neue",Helvetica,arial,sans-serif;
	line-height:16px;
}

h2{
	font-size: 32px;
	color:#205081;
	line-height:1.2;
	font-weight:bold;
}

h3{
	font-size: 24px;
	color: #205081;
	font-weight: bold;
}

.wrapper{
	padding:0 20px;

	@media screen and (min-width: 1200px) {
		padding:0;
	}

}