<!DOCTYPE html>
<html lang="en" ng-app="Atlassian">
<head> 
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Atlassian Summit</title> 
	<link href="styles/main.css" rel="stylesheet">
</head>
<body>
	<header>
		<h1><a href="/"><img src="images/logo.svg" alt="Atlassian"></a></h1>
	</header>

	<div class="container">
		<section class="page-sub-title">
			<img src="images/summit-logo.svg" alt="Atlassian Summit" />
			<h5>Video Archive</h5>
		</section>

		<section class="wrapper" ng-controller="TabController">
			<nav>
				<ul>
					<li ng-class="{selected: track === sessionSection}" ng-repeat="track in tracks">
						<a href="#{{track}}" ng-click="showTrack(track)">{{track}}</a>
					</li>
				</ul>
			</nav>

			<div class="main-content">
				<!-- Left section content list -->
				<section class="speaker-list">
					<h3>{{sessionSection}}</h3>
					<ul class="session-list">
						<li ng-class="{selected: session.Id === sessionDescription.Id}" ng-repeat="session in sessions" ng-click="showSession(session.Id)">
							<p class="session-title">{{session.Title}}</p>
							<span class="session-speaker" ng-repeat="speaker in session.Speakers">{{speaker.FirstName }} {{speaker.LastName}}, {{ speaker.Company}}</span>
						</li>
					</ul>
				</section>

				<!-- Main description text -->
				<section id="description" class="session-description">
					<h2>{{sessionDescription.Title}}</h2>
					<p class="speakers">
						<span ng-repeat="speaker in sessionDescription.Speakers">{{speaker.FirstName}} {{speaker.LastName}}, {{speaker.Company}}</span> 
					</p>

					<div class="description-content">
						{{sessionDescription.Description}}
					</div>

					<div class="about-speakers">
						<h3>About the speaker</h3>
						<article class="speaker-bio" ng-repeat="speaker in sessionDescription.Speakers">
							<span><strong>{{speaker.FirstName}} {{speaker.LastName}}</strong>, {{speaker.Company}}</span>

							<p>{{speaker.Biography}}</p>
						</article>
					</div>
				</section>
			</div>
		</section>
	</div> 

	<script type="text/javascript" src="scripts/app.js"></script>
</body>
</html>